$bronze: #ad5600;
$silver: #435f7a;
$gold: #eb9a00;
$platinum: #29e2a4;
$diamond: #00b4fc;
$ruby: #ff0162;

.text-bronze {
    color: $bronze;
}
.text-silver {
    color: $silver;
}
.text-gold {
    color: $gold;
}
.text-platinum {
    color: $platinum;
}
.text-diamond {
    color: $diamond;
}
.text-ruby {
    color: $ruby;
}